{% extends 'layout.html' %}
{% block title %} Search {% endblock %}

{% block content %}
    <h2>Search for movies:</h2>
    <div id="search-form">
        <div class="search-parameter">
            <p>Movie Title:</p>
                <input class="text-box" type="text">
        </div>
        <div class="search-parameter">
            <p>Director:</p>
                <input class="text-box" type="text">
        </div>
        <div class="search-parameter">
            <p>Actor(s):</p>
                <input class="text-box" type="text">
        </div>
        <div class="search-parameter">
            <p>Genre(s):</p>
                <input class="text-box" type="text">
        </div>
        <input class="submit-button" type="submit" value="Submit">
    </div>


{% endblock %}                                           