{% extends 'layout.html' %}

{% block title %}Create Review{% endblock %}

{% block content %}
    <button class="btn-general" onclick="location.href='{{review_url}}'">Back to Reviews</button>

    <h2>Create Review</h2>
    <div class="form-wrapper">
        <form action="{{handler_url}}" method="post">
            {{form.csrf_token}} <!-- Need to include this token - Flask WTForms requires it. -->
            <div class ="form-field">
                <div class="form-parameter">
                    <p>Movie Title</p>
                        {{form.movie_title}}
                </div>
                <div class="form-parameter">
                    <p>Review</p>
                        {{form.review_text(size = 100, placeholder="Type your review", class="textarea", cols="50", rows="6", wrap="hard")}}
                </div>
                <div class="form-parameter">
                    <p>Rating (1-10)</p>
                        {{form.rating}}
                </div>
            </div>
            {{ form.submit(class_="form_submit_button") }}
        </form>

    {% if error_list|length > 0 %}
    <h2>Warning:</h2>
        <ul class="bullet-point-list">
            {% for error in error_list %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    </div>
    <h2>Create review notes:</h2>
        <ul class="bullet-point-list">
            <li>Movie title must be a movie from the system</li>
                <ul class="bullet-point-list">
                    <li>(check to see if your movie is available by using 'Search movies')</li>
                </ul>
            <li>The review must have some text within 'Review', and must not use profanity.</li>
            <li>The rating must be between 1 to 10 (inclusive)</li>
        </ul>

{% endblock %}
