{% extends 'layout.html' %}
{% block title %}Search{% endblock %}

{% block content %}
    <h2>Search for movies:</h2>
    <form method="post">
        <div class="form-parameter">
            <p>Movie Title:</p>
                {{ form.title_search }}
        </div>
        <div class="form-parameter">
            <p>Director:</p>
                {{ form.director_search }}
        </div>
        <div class="form-parameter">
            <p>Actor(s):</p>
                {{ form.actors_search }}
        </div>
        <div class="form-parameter">
            <p>Genre(s):</p>
                {{ form.genres_search }}
        </div>
        {{ form.submit }}
    </form>

    {% if error_list|length > 0 %}
        <h2>Warning:</h2>
            <ul class="bullet-point-list">
                {% for error in error_list %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
    {% endif %}

    <h2>Search functionality notes:</h2>
        <ul class="bullet-point-list">
            <li>Searching is case-insensitive.</li>
            <ul class="bullet-point-list">
                <li>For example, 'star' and 'Star' are treated similarly.</li>
            </ul>
            <li>For all search boxes, many objects can be input with comma separation.</li>
            <ul class="bullet-point-list">
                <li>For example, 'star, space' in the title search box searches for movies with titles containing 'star' or 'space' in them.</li>
            </ul>
        </ul>
{% endblock %}                                           